* {
    padding: 0;
    margin: 0;
    font-family:'DM Sans', sans-serif;
}
.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fffffff2;
}

.listed_tng {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #052869;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

.listed_tng :hover {
    text-decoration: underline;
}
.img_logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.img-logo-link {
    height: 4rem;
    width:auto ;
}

.cus_care {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-color: #e0e4eb;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

.tel_link {
    text-decoration: none;
    color: #102141b3;
    font-size: 0.875rem;
    line-height: 1.25rem;
    gap: 0.5rem;
}

.tel_link_2 {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #87bd28;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.tel_link_2:hover {
    background-color: #97c841;
    cursor: pointer;
}

.sect_container {
    display:flex;
    justify-content: space-between   ;
    align-items: center;
    padding: 60px 20px;
    gap: 60px;
}


.left_sect h1 {
    display: inline-block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: clamp(40px, 6vw, 72px);
    line-height: 1.1;
    font-weight: 600px;
    color:#1a2b49;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-display: swap; 

}

.left_sect p {
    color: #6b7a90;
    max-width: 500px;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
    margin-bottom: 80px;
}


img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.serv_btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 25px;
    margin-left: 30px;
}

.serv_btn_link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.825rem;

    padding-bottom: 0.825rem;
    border-radius: 9999px;
    background-color: #87bd28;
    color: white;
    cursor: pointer;

}

.serv_btn_link:hover {
    background-color: #97c841;
}

.play_btn {
    border-radius: 99px;
    background-color: rgb(251 191 36);
    height: 3rem;
    width: 3rem;
    border: none;
    cursor: pointer;
}

.play_btn:hover {
    background-color:rgb(236, 178, 33) ;
}

.clt_div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-color: #e0e4eb;
    margin-left: 30px;
}

.clt_cnt {
    display: flex;
    border-color: #e0e4eb;
}

.clients {
    font-weight: 700;
    height: 40px;
    width: 40px;
    border-width: 2px;
    border-radius: 50%;

    color: #ffffff;
    background-color: #102141;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    border: 2px solid white;
    margin-left: -10px;
}

.clients:first-child {
  margin-left: 0;
}

.clients:nth-child(1) { background: #1f2a44; }
.clients:nth-child(2) { background: #6cc04a; }
.clients:nth-child(3) { background: #2bb3a3; }
.clients:nth-child(4) { background: #f4b400; }
.clients:nth-child(5) { background: #FFFF; color: gray;}

.vip {
    font-weight: 500;
    border-color: #e0e4eb;
    color: hsl(220, 15%, 46%);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.projects_div {
    background-color: #23365c;
    border-color: #e0e4eb;

}

.projects_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.projects {
    
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1.25rem;
    border-radius: 1rem;
    border-width: 1px;
    border-color: #e0e4eb80;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.numbers {
    font-weight:700 ;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #87bd28;
    font-family: 'DM Sans', sans-serif;;
}

.prj_txt {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #646f87;
    letter-spacing: 0.025em;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.card_sect {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f3f7f4;
}

.card_div {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 1.5rem;
}

.card {
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: #ffffff;
     
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87bd281a;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-color: #e0e4eb;
}

.card_h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.375rem;
    color: #102141;
    font-family: 'DM Sans', sans-serif;
}


.card_p {
    color: #646f87;
    line-height: 1.625;
    font-size: 0.875rem;
    font-family: 'DM Sans', sans-serif;
}

.about_sect {
    padding-top: 7rem;
    padding-bottom: 7rem;
    overflow: hidden;
}

.about_div {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about_ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start; /* 👈 pushes text to top */
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
}


.about {
    position: relative;
}
.about_1 {
    position: relative;
}

.big_img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.about_2 {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 150px;
}

.side_div {
    display: flex;
    background-color: #ffffff;
    border-radius: .75rem;
}

.side_ctn {
    text-align: center;
}

.side_txt {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #87bd28;
    font-weight: 700;
     font-family: 'DM Sans', sans-serif;
}

.side_tet {
    font-size: .75rem;
    line-height: 1rem;
    color: #646f87;
     font-family: 'DM Sans', sans-serif;
}

#about_2 {
    margin-bottom:30px;
}

.green {
    margin-bottom: .75rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #87bd28;
    font-family: 'DM Sans', sans-serif;
}

.about h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-wrap: balance;
    color: #102141;
    font-weight: 700;
    font-family:'DM Sans', sans-serif ;
}

.about p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 15px;
    padding-bottom: 20px;
    margin-right: 0;
    color: #646f87;
    font-family:'DM Sans', sans-serif;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.li_span {
    font-size: .875rem;
    line-height: 1.25rem;
   font-family:'DM Sans', sans-serif;
   color: #102141cc;
}

.about_btn {
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #87bd28;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    font-family:'DM Sans', sans-serif;
    font-size: 12px;
    line-height: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.about_btn:hover {
    background-color: #97c841;
    transform: translateY(-2px);
}

.about_btn:active {
    transform: translateY(0);
    scale: 0.97;
}

.about_btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(135, 189, 40, 0.4);
}

.gradient_sect {
    background-image: linear-gradient(to bottom right, #c8e8dc 0%, #ffffff 40%, #ffffff 100%);
    padding-top: 1rem;
    padding-bottom: 7rem;
    overflow: hidden;
    position: relative;
}
.gradient_cnt {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: relative;
    padding-bottom: 30px;
    padding-top: 70px;
}

.gradient_div {
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.gradient span {
    display: inline-block;
    color: #87bd28;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 99px;
    background-color: #e7f5d0;
    font-family:'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.gradient h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #102141;
}

.pic_sect {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: linear-gradient(to right, #bde4f4, transparent);
}

#grdt {
    display: flex;
    gap: 10px;
    
}


.arrow_btn {
      width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #e0e4eb;
    background-color: #ffffff;
    color: #102141;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.25s ease;

}

.arrow_btn:hover {
    background-color: #87bd28;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.arrow_btn:active {
    transform: scale(0.95);
} 
.pic_cnt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.pic_div {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    border-radius: 16px;
}

.pic_img {
    aspect-ratio: 4 / 3;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.pic_div:hover img {
    transform: scale(1.05);
    transition: 0.4s ease;
}


.pic_img img {
    max-width: 100%;
    height: auto;
}

.pic_span {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    top: 0.75rem;
    right: 0.75rem;
    position: absolute;
}

.pic_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pic_txt h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #102141;
    font-weight: 600;
}

.pic_txt a {
    width: 2.2rem;
    height: 2.2rem;
    color: #87bd28;
    background-color: #87bd281a;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cleaning_sect {
    background-image: linear-gradient(to bottom right, #c8e8dc 0%, #ffffff 40%, #ffffff 100%);
    padding-top: 1rem;
    padding-bottom: 7rem
}

.cleaning_cnt {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: relative;
}

.cleaning_grid {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}